{% extends 'base.html' %}

{% block titulo %}Imputados{% endblock %}
{% block nav_imputados %}active{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Cedula</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Accion</th>
		    </tr>
		  </thead>
		{% for imputado in imputados %}				
		  <tbody>
		    <tr class="table">
		      <th scope="row">1</th>
		      <td>{{ imputado.ci }}</td>
		      <td>{{ imputado.nombre }}</td>
		      <td><a href="/causas/personas/{{ imputado.ci }}/" class="btn btn-success">Ver</a></td>
		    </tr>
		   </tbody>
		{% empty %}
			<br>
			<h3 class="text-center">No hay imputados para mostrar. <a href="/causas/ingreso/">Registre una causa</a>.</h3p>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}