{% extends 'auditor/base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Bitácora de Transacciones</h1>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Tabla</th>
                        <th>Campo</th>
                        <th>Registro</th>
                        <th>Valor Anterior</th>
                        <th>Valor Actual</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in entradas %}
                    <tr>
                        <td>{{ entrada.accion }}</td>
                        <td>{{ entrada.tabla }}</td>
                        <td>{{ entrada.campo }}</td>
                        <td>{{ entrada.registro }}</td>
                        <td>{{ entrada.valor_anterior }}</td>
                        <td>{{ entrada.valor_actual }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}