{% extends 'auditor/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Menú del Auditor</h1>
		</div>
		<div class="col-12 text-center">
			<div class="list-group">
				<div class="list-group-item">
					<h2>
						<i class="text-info fa fa-database"></i>
						<a href="{% url 'gestion:home' %}">Configuración de la aplicación</a>
					</h2>
				</div>
				<div class="list-group-item">
					<h2>
						<i class="text-warning fa fa-clipboard-list"></i>
						<a href="{% url 'gestion:bitacora' %}">Consultar Bitácora de Acceso</a>
					</h2>					
				</div>
			</div>
			<div class="list-group-item">
				<h2>
					<i class="text-success fa fa-clipboard-check"></i>
					<a href="{% url 'gestion:bitacora_transacciones' %}">
						Consultar Bitácora de Transacciones
					</a>
				</h2>
			</div>
		</div>
	</div>
</div>
{% endblock %}