{% extends "base.html" %}
{% block content %}
    {% if validlink %}
        <h1>nueva contraseña</h1>
    	<form action="" method="post">
    		{% csrf_token %}
    		{{ form.new_password1.errors }}
    		<label for="id_new_password1">Nueva contraseña</label>
    		{{ form.new_password2.errors }}
    		<label for="id_new_password2">Confirme su contraseña</label>
    		<input type="submit" value="Cambiar mi contraseña">
    	</form>
    {% else %}
    	<h1>Enlace inválido</h1>	    
    {% endif %}

{% endblock content %}