{% extends "base.html" %}

{% block content %}
<style>
	.info {
		display: none;
	}
	h3.badge {
		width: 78px;
	}
</style>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Configuración de la aplicación</h1>
				<br>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Habilitar Respaldos de seguridad Automáticos</h5>
							{% if respaldo.respaldo == 1 %}
								<h3 class="badge badge-success">Habilitado</h3>
							{% else %}
								<h3 class="badge badge-danger">Desabilitado</h3>
							{% endif %}
						</div>
						<div class="info">
							<span>El ultimo respaldo fue: {{ respaldo.ultima_respaldo }}</span>
							<p class="mb-1">
								Habilite esta opcion para activar los respaldos de seguridad de los datos, y podra seleccionar el tipo de respaldo y el periodo de este.
							</p>
							<br>
							<div class="opciones">
								{% if respaldo.respaldo == 1 %}
									<button class="btn btn-success" id="btnActResp" disabled="">Activar</button>
									<button class="btn btn-danger" id="btnDesResp">Desactivar</button>
								{% else %}
									<button class="btn btn-success" id="btnActResp">Activar</button>
									<button class="btn btn-danger" id="btnDesResp" disabled="">Desactivar</button>
								{% endif %}
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Periodo de respaldo</h5>
							<h3 class="badge badge-success" id="valor-actual-periodo"></h3>
						</div>
						<div class="info">
						<form action="{% url 'gestion:change' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" value="{{ respaldo.periodo }}" id="valor-periodo">
							<p class="mb-1">
								Esta opcion es se activa automaticamente cuando se esta habilitado los respaldos de seguridad, por favor elija el perio de respaldos
							</p>
							<br>
							<p>
								Fecha de último respaldo:
							</p>
							<div class="opciones form-group">
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="diario" value="A">
									<label class="form-check-label" for="diario">Diario</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="semanal" value="B">
									<label class="form-check-label" for="semanal">Semanal</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="mensual" value="C">
									<label class="form-check-label" for="mensual">Mensual</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="trimestral" value="D">
									<label class="form-check-label" for="trimestral">Trimestral</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="semestral" value="E">
									<label class="form-check-label" for="semestral">Semestral</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="periodo" class="form-check-input" type="radio" id="anual" value="F">
									<label class="form-check-label" for="anual">Anual</label>
								</div>
								<input type="submit" class="btn btn-success" value="Guardar">
							</div>
						</form>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Exportar Base de datos</h5>
						</div>
						<div class="info">
							<p class="mb-1">
								Haga un respaldo de su base de datos haciendo clic en el siguiente boton: 
							</p>
							<br>
							<div class="opciones">
								<button class="btn btn-success">Descargar Respaldo</button>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Importar base de datos</h5>
						</div>
						<div class="info">
							<p class="mb-1">
								Para reastaurar la base de datos a una copia vieja haga clic en el siguiente boton y busque el archivo sql donde está toda la información.	
							</p>
							<br>
							<div class="opciones">
								<!-- <div class="custom-file">
									<input type="file" class="custom-file-input" id="file" accept=".sql">
									<label class="custom-file-label" for="file">Seleccione un archivo</label>
								</div> -->
								<input type="file" accept=".sql" class="form-control">
								<br>	
								<input type="submit" class="btn btn-success" value="Restaurar">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br>

	<script>
		$(document).ready(function () {
			var elementos = $('.list-group-item');
			for (var elemento of elementos) {
				$(elemento).click(function () {
					if ($(this).hasClass("active")) {
						return true;
					}

					for (var e of elementos) {
						$(e).removeClass('active');
						var i = $(e).children()[1];
						$(i).slideUp(400);
					}

					$(this).addClass('active');
					var i = $(this).children()[1];
					$(i).slideDown(400);
				});
			}

			$('#btnActResp').click(function () {
				$(location).attr('href', '{% url 'gestion:respaldo' %}');
			});
			$('#btnDesResp').click(function () {
				$(location).attr('href', '{% url 'gestion:respaldo' %}');
			});

			var periodo = $('#valor-periodo').val();

			if (periodo == 'A'){
				$('#diario').attr('checked','true');
				$('#valor-actual-periodo').text('Diario');
			}
			else if (periodo == 'B') {
				$('#semanal').attr('checked','true');
				$('#valor-actual-periodo').text('Semanal');
			}
			else if (periodo == 'C') {
				$('#mensual').attr('checked','true');
				$('#valor-actual-periodo').text('Mensual');
			}
			else if (periodo == 'D') {
				$('#trimestral').attr('checked','true');
				$('#valor-actual-periodo').text('Trimestral');
			}
			else if (periodo == 'E') {
				$('#semestral').attr('checked','true');
				$('#valor-actual-periodo').text('Semestral');
			}
			else if (periodo == 'F') {
				$('#anual').attr('checked','true');
				$('#valor-actual-periodo').text('Anual');
			}
		});
	</script>
{% endblock content %}
